In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('spotify_millsongdata.csv')

In [3]:
df.head(5)

,artist,song,link,text
0,ABBA,Ahe's My Kind Of Girl,/a/abba/ahes+my+kind+of+girl_20598417.html,"Look at her face, it's a wonderful face \r\nA..."
1,ABBA,"Andante, Andante",/a/abba/andante+andante_20002708.html,"Take it easy with me, please \r\nTouch me gen..."
2,ABBA,As Good As New,/a/abba/as+good+as+new_20003033.html,I'll never know why I had to go \r\nWhy I had...
3,ABBA,Bang,/a/abba/bang_20598415.html,Making somebody happy is a question of give an...
4,ABBA,Bang-A-Boomerang,/a/abba/bang+a+boomerang_20002668.html,Making somebody happy is a question of give an...

In [4]:
df.tail(5)

,artist,song,link,text
57645,Ziggy Marley,Good Old Days,/z/ziggy+marley/good+old+days_10198588.html,Irie days come on play \r\nLet the angels fly...
57646,Ziggy Marley,Hand To Mouth,/z/ziggy+marley/hand+to+mouth_20531167.html,Power to the workers \r\nMore power \r\nPowe...
57647,Zwan,Come With Me,/z/zwan/come+with+me_20148981.html,all you need \r\nis something i'll believe \...
57648,Zwan,Desire,/z/zwan/desire_20148986.html,northern star \r\nam i frightened \r\nwhere ...
57649,Zwan,Heartsong,/z/zwan/heartsong_20148991.html,come in \r\nmake yourself at home \r\ni'm a ...

In [5]:
df.shape

(57650, 4)

In [6]:
df.isnull().sum()

artist    0
song      0
link      0
text      0
dtype: int64

In [7]:
df = df.sample(5000).drop('link',axis = 1).reset_index(drop = True)

In [8]:
df.head(10)

,artist,song,text
0,Rascal Flatts,Love You Out Loud,I have always been a little shy \r\nI've alwa...
1,Kris Kristofferson,We Must Have Been Out Of Our Minds,We said our goodbyes long ago never thinking w...
2,Bee Gees,Guilty,"Pulse's racing, darling, \r\nHow grand we are..."
3,Modern Talking,Walking In The Rain Of Paris,"Oh baby I tell I never say never (ce soir, ce ..."
4,Devo,That's Good,Everybody it's a good thing \r\nEverybody wan...
5,Yeng Constantino,Just Can't Say,It?s not that I think you would know \r\nI ju...
6,Bob Dylan,Father Of Night,"Father of night, Father of day, \r\nFather, w..."
7,Elton John,Hymn 2000,She chose the soft center \r\nAnd took it to ...
8,Point Of Grace,Worthless,I woke up today with a revelation \r\nAn intr...
9,Annie,Come Together,(verse) \r\nLook into yourself and see \r\nD...

In [9]:
df['text'][0]

"I have always been a little shy  \r\nI've always been the quiet type till now  \r\nAnd I never let my feelings show  \r\nI never let anybody know  \r\nJust how much I was so deep in love  \r\nBut now that you're in my arms  \r\n  \r\nI'm gonna stand on a rooftop, climb up a mountaintop  \r\nBaby, scream and shout  \r\nI want to sing it on the radio, show it on a video  \r\nBaby, leave no doubt  \r\nI want the whole world to know just what I'm all about  \r\nI love to love you out loud  \r\n  \r\nYou keep bringing out the free in me  \r\nWhat you do to my heart just makes me melt  \r\nAnd I don't think I can resist  \r\nBut I've never been one to kiss and tell  \r\nA love this true can't be subdued  \r\nSo I'm gonna let out a yell  \r\n  \r\nI'm gonna stand on a rooftop, climb up a mountaintop  \r\nBaby, scream and shout  \r\nI want to sing it on the radio, show it on a video  \r\nBaby, leave no doubt  \r\nI want the whole world to know just what I'm all about  \r\nI love to love you out loud  \r\n  \r\nBaby, I want the whole world to see  \r\nJust how good your love looks on me  \r\n  \r\nI'm gonna stand on a rooftop, climb up a mountaintop  \r\nBaby, scream and shout  \r\nI want to sing it on the radio, show it on a video  \r\nBaby, leave no doubt  \r\nI want the whole world to know just what I'm all about  \r\nI love to love you out loud  \r\n  \r\nBaby, I love to love you out loud  \r\nYeah, I love to love you out loud\r\n\r\n"

In [10]:
df.sample(5000)

,artist,song,text
721,Warren Zevon,Sacrificial Lambs,We're having a party \r\nWe're burning it dow...
342,Queen Latifah,The Pros,I stepped into a basement party in Brooklyn \...
1882,Jackson Browne,Lives In The Balance,I've been waiting for something to happen \r\...
2475,Eric Clapton,It Ain't Right,You know it ain't right just to treat me this ...
854,Zox,Little More Time,"Give me just a little more time, \r\nMaybe we..."
...,...,...,...
4155,Cher,Here Comes That Rainy Day Feeling Again,Here comes that rainy day feeling again \r\nW...
575,Iron Maiden,The Prophecy,Now that I know that the right time has come ...
3033,Lou Reed,Soul Man,(written by Isaac Hayes - David Porter) \r\n ...
1500,Red Hot Chili Peppers,Deck The Halls,Anything we should know about your change? \r...
140,Selah,Mary Sweet Mary,"Mary, sweet Mary, your heart overflows \r\nDe..."

In [11]:
df.tail(5)

,artist,song,text
4995,Tom T. Hall,Running Wild,"In the shadow of the saddle, running wild and ..."
4996,Janis Joplin,River Jordan,I'm goin' down to the river jordan \r\nI'm go...
4997,Aerosmith,Black Cherry,It be night time when shadows fade \r\nShe wa...
4998,Pogues,Navigator,"The canals and the bridges, the embankments an..."
4999,Glee,I Can't Go For That,"What I want, you've got \r\nIt might be hard ..."

In [12]:
df = df.sample(5000)

In [13]:
df.shape

(5000, 3)

## Text Cleaning/ Preprocessing

In [14]:
df['text'] = df['text'].str.lower().replace(r'^\w\s',' ').replace(r'\n',' ',regex = True)

In [15]:
# Tokenization, Vectorization, Cosine Similarity. Content - Based System(Tag Based)

In [16]:
df

,artist,song,text
1703,Kenny Rogers,Hard Candy Christmas,"hey, maybe i'll dye my hair \r maybe i'll mov..."
1133,Etta James,If I Can't Have You,i don't want nobody \r if i can't have you \...
4536,Pearl Jam,Rearviewmirror,i took a drive today \r time to emancipate \...
2847,Devo,Are You Experienced?,if you could just get your mind together \r t...
397,Phish,Discern,"the sound of flying swiftly, which makes it ha..."
...,...,...,...
4684,Glee,Fighter,"after all that you put me through, \r you thi..."
2704,Green Day,86,what brings you around? \r did you lose somet...
109,Hillsong United,All Day,i don't care what they say about me \r it's a...
1158,Red Hot Chili Peppers,Let's Make Evil,let's make evil \r let's make good \r i'd do...
1053,Israel Houghton,Hosanna,chorus 1 \r hosanna in the highest \r let ou...

In [17]:
import nltk
nltk.download('punkt')
from nltk.stem.porter import PorterStemmer

[nltk_data] Downloading package punkt to
[nltk_data]     C:\Users\MITALI\AppData\Roaming\nltk_data...
[nltk_data]   Package punkt is already up-to-date!

In [18]:
stemmer = PorterStemmer()

In [19]:
def token(txt):
    token = nltk.word_tokenize(txt)
    a = [stemmer.stem(w) for w in token]
    return " ".join(a)

In [20]:
token("you are beautiful, beauty")

'you are beauti , beauti'

In [21]:
df['text'].apply(lambda x:token(x))

1703    hey , mayb i 'll dye my hair mayb i 'll move s...
1133    i do n't want nobodi if i ca n't have you oh ,...
4536    i took a drive today time to emancip i guess i...
2847    if you could just get your mind togeth then co...
397     the sound of fli swiftli , which make it hard ...
                              ...
4684    after all that you put me through , you think ...
2704    what bring you around ? did you lose someth th...
109     i do n't care what they say about me it 's all...
1158    let 's make evil let 's make good i 'd do anyt...
1053    choru 1 hosanna in the highest let our king be...
Name: text, Length: 5000, dtype: object

In [22]:
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.metrics.pairwise import cosine_similarity

In [23]:
tfid = TfidfVectorizer(analyzer='word', stop_words='english')

In [24]:
matrix = tfid.fit_transform(df['text'])

In [25]:
similar = cosine_similarity(matrix)

In [26]:
similar[0]

array([1.        , 0.03686753, 0.00887977, ..., 0.07847636, 0.0633778 ,
       0.0120278 ])

Recommender function

In [27]:
def recommender(song_name):
    idx = df[df['song'] == song_name].index[0]
    distance = sorted(list(enumerate(similar[idx])), reverse = True, key = lambda x:x[1])
    song = []
    for s_id in distance[1:5]:
        song.append(df.iloc[s_id[0]].song)
    return song

In [28]:
import pickle

In [29]:
pickle.dump(similar, open("similarity","wb"))

In [30]:
pickle.dump(df,open("df","wb"))